
pre {
    font-size: medium;
    font-family: 'VT323', monospace;
}

body {
    font-family: 'VT323', monospace;
    font-size: x-large;
    color: #ffffff;
    background-color: #32333D;
}

a {
    color: #1aba81;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    pre {
        font-size: 4px
    }
    body {
        font-size: small
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #32333D;
        background-color: #ffffff;
    }
    a {
        color: #1aba81;
    }
}